<nz-layout>
  <!--top-->
  <div class="e-container-top widht-100">
    <div class="widht-100 display-flex flex-column justify-content-around">
      <div class="container-fluid e-container-card" (click)="goWelcome()">
        <div class="e-content">
          <img src="../../../../../assets/images/logoBgBleu512.jpg" class="e-logo">
        </div>
      </div>
      <div>
        <span class="e-title">Inscription</span>
        <p class="e-description">
          Cher créatif, veuillez s'il vous plait renseigner les champs d'inscription.<br>
          NB: Les champs obligatoire sont indiqués avec un asterisque(*).
        </p>
      </div>
    </div>

    <div class="align-items-center flex-1 container-fluid display-flex justify-content-space-around ">
      <!--left-->
      <div class="e-container-card e-container-btn">
        <div class="e-content">
          <span class="e-btn-login">{{currentStep}}/2</span>
        </div>
      </div>
      <!--middle-->
      <div class="e-container-form h-100">
        <form nz-form
              nz-row
              nzType="flex"
              class="flex-column align-items-center h-100"
              [formGroup]="validateForm"
              (ngSubmit)="submitForm(validateForm.value)">
          <div class="flex-column display-flex h-100 align-items-center justify-content-space-between">
            <div class="display-flex justify-content-center flex-2 flex-row align-items-flex-end widht-100"
                 [ngStyle]="currentStep == 1 ? {'align-items': 'center'}:{}">
              <ng-container *ngIf="currentStep == 1">
                <nz-form-item>
                  <nz-form-control>
                    <nz-input-group>
                      <input formControlName="name" nz-input nzSize="large" placeholder="Nom complet*"/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-input-group>
                      <input formControlName="email" nz-input nzSize="large" type="text" placeholder="Email*"/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-input-group>
                      <input formControlName="password"
                             nz-input
                             nzSize="large"
                             type="password"
                             placeholder="Password*"/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-input-group>
                      <input formControlName="confirmPpassword"
                             nz-input
                             nzSize="large"
                             type="password"
                             placeholder="Confirmation du mot de passe*"/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </ng-container>
              <ng-container *ngIf="currentStep == 2">
                <nz-form-item>
                  <nz-form-control>
                    <nz-input-group>
                      <input formControlName="pseudo" nz-input nzSize="large" placeholder="Pseudo*"/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="width-22">
                  <nz-form-control>
                    <nz-input-group>
                      <!-- <nz-date-picker
                         [nzDisabledDate]="disabledDate"
                         nzPlaceHolder="date de naissance*"
                         formControlName="dateNaissance" nzSize="large"
                       ></nz-date-picker>-->
                      <input type="date"
                             [max]="today | date: 'y-MM-dd'"
                             placeholder="date de naissance*"
                             formControlName="dateNaissance" nzSize="large">
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-input-group>
                      <input formControlName="nationnalite"
                             nz-input
                             nzSize="large"
                             type="text"
                             placeholder="Nationnalité"/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-input-group>
                      <input formControlName="contact"
                             nz-input
                             nzSize="large"
                             type="number"
                             placeholder="Contact"/>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </ng-container>
            </div>
            <div
              class="e-container-radio-group align-items-center display-flex flex-column justify-content-center"
              *ngIf="currentStep == 2"
            >
              <span class="e-sexe">Sexe*</span>
              <nz-radio-group nzName="radiogroup" formControlName="radioValue" [(ngModel)]="radioValue">
                <label nz-radio nzValue="Masculin">Masculin</label>
                <label nz-radio nzValue="Feminin">Féminin</label>
              </nz-radio-group>
            </div>

          </div>
        </form>
      </div>
      <!--right-->
      <div class="e-container-card e-container-btn" (click)="goLogin()">
        <div class="e-content">
          <span class="e-btn-register">Connexion</span>
        </div>
      </div>

    </div>

    <div class="display-flex justify-content-center align-items-center widht-100">

      <ng-container *ngIf="currentStep == 1">
        <button nz-button nzSize="large" nzShape="circle" class="e-icon"
                (click)="changeStep(currentStep)">
          <i class="mdi mdi-arrow-down"></i>
        </button>
      </ng-container>
      <ng-container *ngIf="currentStep == 2">
        <button nz-button nzSize="large" nzShape="circle" class="e-icon"
                [disabled]="validateForm.invalid"
                (click)="submitForm(validateForm.value)">
          <i class="mdi mdi-arrow-right"></i>
        </button>
      </ng-container>
    </div>
  </div>
</nz-layout>
