<nz-layout>
  <!--top-->
  <div class="container-fluid e-container-card">
    <div class="e-content">
      <img src="../../../../assets/images/logo.png" class="e-logo">
    </div>
  </div>
  <!--middle-->
  <div class="container-fluid display-flex justify-content-space-between">
    <!--left-->
    <div class="e-container-card e-container-btn">
      <div class="e-content">
        <span class="e-btn-login">Inscription</span>
      </div>
    </div>
    <!--middle-->
    <nz-carousel [nzEffect]="'fade'" [nzAutoPlay]=true>
      <div nz-carousel-content *ngFor="let item of dataSlide">
        <h1 class="e-title">{{item.text}}</h1>
        <p class="e-description">{{item.description}}</p>
      </div>
    </nz-carousel>

    <!--right-->
    <div class="e-container-card e-container-btn">
      <div class="e-content">
        <span class="e-btn-register">Connexion</span>
      </div>
    </div>

  </div>

</nz-layout>
