<nz-layout>
  <!--top-->
  <div class="padding-top-1 widht-100">
    <div class="container-fluid e-container-card">
      <div class="e-content">
        <img src="../../../../assets/images/logo.png" class="e-logo">
      </div>
    </div>
  </div>
  <!--middle-->
  <div class="container-fluid display-flex justify-content-space-between h-100 align-items-center justify-content-center">
    <!--left-->
    <div class="e-container-card e-container-btn" (click)="showModal()">
      <div class="e-content">
        <span class="e-btn-login">Inscription</span>
      </div>
    </div>
    <!--middle-->
    <nz-carousel
      [nzEffect]="'fade'"
      [nzAutoPlaySpeed]="5000"
      [nzAutoPlay]=true
      nzDots="false"
    >
      <div nz-carousel-content *ngFor="let item of dataSlide">
        <h1 class="e-title">{{item.text}}</h1>
        <p class="e-description">{{item.description}}</p>
      </div>
    </nz-carousel>

    <!--right-->
    <div class="e-container-card e-container-btn">
      <div class="e-content">
        <span class="e-btn-register" (click)="goLogin()">Connexion</span>
      </div>
    </div>

  </div>

</nz-layout>

<nz-modal
  [(nzVisible)]="isVisibleModal"
  nzTitle="Créer un compte"
  [nzFooter]="footer"
  (nzOnCancel)="isVisibleModal = !isVisibleModal"
>
  <ng-template #footer>

  </ng-template>
  <nz-space nz-row nzDirection="horizontal" class="justify-content-space-between display-flex">
    <nz-space-item>
      <button nz-button nzType="primary" nzShape="round" (click)="goRegisterProvider()">Créatif</button>
    </nz-space-item>
    <nz-space-item>
      <button nz-button nzType="primary" nzShape="round" (click)="goRegisterClient()">Client</button>
    </nz-space-item>
  </nz-space>
</nz-modal>
